.cabecalhoPrincipal > .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav{
    display: flex;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;

}

.conteudoPrincipal-cursos-link{
    width: 23%;
    margin-bottom: 1%;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    height: 260px;
    /*adicionei o limite no height de 260px, para o texto respeitar a altura e seguir no bloco, a propriedade flex-wrap faz com que o texto quebre e não passe do limite, seguindo para o lado*/
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 65%;
}

.rodapePrincipal-contatoForm{
    width: 35%;
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
